@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Techs comparator</h1>
    <p class="lead"></p>
   </div>

@{
    ViewBag.Title = "Home Page";
}

@model List<OldNewTeamProject.Models.Language>

@foreach (var lang in Model)
{
    <div class="row">
        <div class="language">
            <h2>@lang.Name</h2>
            <div class="details">
                <div>@lang.Description</div>
                <div>added on @lang.Date</div>
            </div>
            <div class="ratio">
                @if (@lang.positives > 0)
                {
                    <p>Positive ratio @string.Format("{0:#.##}", lang.ratio) %</p>
                }
                else
                {
                    <p>Positive ratio 0%</p>
                }
            </div>
            <ul class="posts">
                @foreach (var post in @lang.Posts)
                {
                    <li>@post.Content ---> @post.Value</li>
                }
            </ul>

        </div>
    </div>
}