@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Techs comparator</h1>
    <div description>The purpose of the app is to collect data about the available technologies at Softuni and compare it in order to help students to make better informed choice between them.</div>
    <p class="lead"></p>
   </div>

<div class="actionLinks">
    <div class="btn-link">@Html.ActionLink("Ratios", "Ratios", "")</div>
    <div class="btn-link">@Html.ActionLink("Positive Reviews", "Positives", "")</div>
    <div class="btn-link">@Html.ActionLink("Negative Reviews", "Negatives", "")</div>
</div>

@{
    ViewBag.Title = "Home Page";
}

@model List<OldNewTeamProject.Models.Language>

@for (int i = 1; i <= Model.Count; i++)
{
    <div>
        <h4>@Html.ActionLink(@Model[i - 1].Name, "Details/" + i, "Languages")</h4>
        <div>@Model[i-1].Description</div>
    </div>
} 