@{
    ViewBag.Title = "Positives";
}

<div class="jumbotron">
    <h1>Techs comparator</h1>
    <div description>edi-kvo si</div>
    <p class="lead"></p>
</div>

<div class="actionLinks">
    <ul>
        @for (int i = 1; i <= Model.Count; i++)
        {
            <li>@Html.ActionLink(Model[i - 1].Name, "Details/" + i.ToString(), "Languages")</li>
        }

    </ul>
    <div class="btn-link">@Html.ActionLink("Home", "Index", "Home")</div>
    <div class="btn-link">@Html.ActionLink("Ratios", "Ratios", "Home")</div>
    <div class="btn-link">@Html.ActionLink("Negative Reviews", "Negatives", "Home")</div>
</div>

@{
    ViewBag.Title = "Home Page";
}

@model List<OldNewTeamProject.Models.Language>

@foreach (var lang in Model)
{
    <div class="row">
        <div class="language">
            <h2>@lang.Name</h2>
            
            <div class="ratio">
                @if (@lang.positives > 0)
                {
                    <p>Positive reviews @lang.positives</p>
                }
                else
                {
                    <p>Positive reviews 0</p>
                }
            </div>
            <ul class="posts">
                @foreach (var post in @lang.Posts)
                {
                    if (post.Value == "rocks")
                    {
                        <li>@post.Content ---> @post.Value</li>
                    }
                    
                }
            </ul>

        </div>
    </div>
}