@model OldNewTeamProject.Models.Language

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Language</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uploader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uploader.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ratio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ratio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.positives)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.positives)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.negatives)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.negatives)
        </dd>

        <dt>
            Evaluations
        </dt>

        <dd>
            <ul class="details-language">
                @foreach (var post in Model.Posts)
                {
                    <li>@post.Value ---> @post.Content</li>
                }
            </ul>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
